<div *ngIf="isAuthenticated" class="flex flex-col h-screen">
  <div class="bg-green-500 h-20 p-4 flex justify-center items-center">
    <span class="text-white">Bienvenido, {{ user?.username }}</span>
    <button (click)="logout()" class="ml-4 p-2 bg-white rounded">
      Cerrar sesión
    </button>
  </div>

  <div class="flex-1 flex justify-center items-start bg-slate-200 pb-4 pt-4">
    <div class="todo-container max-w-screen-xl w-full">
      <h1 class="text-2xl font-normal mb-4 mt-4">To Do List</h1>

      <div class="mb-4 flex items-center">
        <select
          [(ngModel)]="filter"
          id="task-filter"
          class="border p-2 rounded w-full"
        >
          <option value="all">Todas las tareas</option>
          <option value="completed">Completadas</option>
          <option value="incomplete">Incompletas</option>
        </select>
      </div>

      <div class="flex mb-4">
        <input
          [(ngModel)]="newTodoTitle"
          placeholder="Añade una nueva tarea"
          (keydown)="onKeydown($event)"
          class="border p-2 rounded w-full"
        />
        <select [(ngModel)]="newTodoPriority" class="ml-2 border p-2 rounded">
          <option value="low">Baja</option>
          <option value="medium">Media</option>
          <option value="high">Alta</option>
        </select>
        <button (click)="addTodo()" class="p-2 rounded ml-2">
          <img src="../assets/add.png" alt="plus icon" class="w-8" />
        </button>
      </div>

      <h1 class="text-2xl font-normal mb-4 mt-4">{{ getTitle() }}</h1>
      <hr class="bg-black" />

      <div class="mb-4">
        <div class="h-2 bg-gray-300 rounded">
          <div
            class="h-2 bg-green-500 rounded"
            [style.width]="getProgress() + '%'"
          ></div>
        </div>
        <p>{{ getProgress() | number : "1.0-0" }}% completado</p>
      </div>
      <ul class="list-disc">
        <li
          *ngFor="let todo of getFilteredTodos()"
          class="flex items-center bg-white mb-2 rounded"
        >
          <input
            type="checkbox"
            [(ngModel)]="todo.completed"
            (change)="updateTodo(todo)"
            class="m-2 w-6 h-6"
          />
          <span
            [ngClass]="{
              'text-green-500': todo.priority === 'low',
              'text-yellow-500': todo.priority === 'medium',
              'text-red-500': todo.priority === 'high',
              'line-through': todo.completed
            }"
            class="flex-1 m-2 truncate"
          >
            {{ todo.title }} - {{ todo.priority | uppercase }}
          </span>
          <button (click)="deleteTodo(todo.id)" class="p-1 bg-slate-200">
            <img src="../assets/clear.png" alt="trash icon" class="w-6 m-2" />
          </button>
        </li>
      </ul>
    </div>
  </div>

  <div class="bg-gray-300 h-12 p-4 flex justify-center items-center">
    <span>Prueba Tecnica - 2024</span>
  </div>
</div>
